<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
         <title>{% block title %}Welcome Influencers!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('CSS/navbar.css') }}" type="text/css">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        {% endblock %}
         </head>
    <body
            {%  if app.request.cookies.get('dark-mode') == 'off' %}
                style="background-color: #f1f1f1"
            {% else %}
                style="background-color: #2f302e"
            {% endif %}
    >
        {% block navbar %}
            <nav class="navbar-nav sticky-top nav-fill w-100 navbar-expand-lg">
                <div class="navbar-collapse mx-auto" id="navbarSupportedContent">
                    <ul class="nav nav-fill" style="width: 96%">
                        <li class="nav-item">
                            {% block allarticles %}
                                <a href="{{ path('articles') }}" class="nav-item nav-link nav-txt-style">All articles</a>
                            {% endblock %}
                        </li>
                        <li class="nav-item">
                            {% block addnewpost %}
                                <a href="{{ path('addPost') }}" class="nav-item nav-link nav-txt-style">Add new post</a>
                            {% endblock %}
                        </li>
                        <li class="nav-item">
                            {% block topauthors %}
                                <a href="{{ path('topAuthors') }}" class="nav-item nav-link nav-txt-style">View top authors</a>
                            {% endblock %}
                        </li>
                    </ul>
                    <ul class="nav nav-fill" style="width: 4%">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle nav-txt-style" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-cog" aria-hidden="true"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right" style="position: relative; z-index: 2;">
                                <a class="dropdown-item nav-txt-style" href="#">
                                    <i onclick="toggleDarkMode(this)"
                                            {%  if app.request.cookies.get('dark-mode') == 'off' %}
                                                class="fa fa-toggle-off nav-txt-style"
                                            {% else %}
                                               class="fa fa-toggle-on nav-txt-style"
                                            {% endif %}
                                    >dark mode</i>
                                </a>
                                <a onclick="stopSplitScreen()" class="dropdown-item nav-txt-style">
                                    <i class="fa fa-times nav-txt-style">close article window</i>
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
        {% endblock %}
        {% block body %}{% endblock %}
        {% block javascripts %}
            <script src="{{ asset('JS/navBar.js') }}" type="text/javascript"></script>
            <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js"></script>
        {% endblock %}
        </body>
</html>
