{% extends "base.html.twig" %}

{% block body %}
    <h1>{{ article.getTitle() }}</h1>
    <div>{{ article.getContent() }}</div><br>

    <div>
        {% if like_value == 'true' %}
            <button type="button" class="btn btn-success btn-sm">
                <i class="fa fa-thumbs-up"></i> like
            </button>
        {% else %}
            <button onclick="like(this)" type="button" class="btn btn-outline-success btn-sm" name="like_button" id="like_button">
                <i class="fa fa-thumbs-up"></i> like
            </button>
        {% endif %}
        <span id="total-votes">{{ article.getNumberLikes() }}</span>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('JS/likeButton.js') }}"></script>
{% endblock %}