{% extends "base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('CSS/articlepreview.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ asset('CSS/tagstyle.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ asset('CSS/iframestyle.css') }}" type="text/css">
{% endblock %}

{% block allarticles %}
    <a href="{{ path('articles') }}" class="nav-item nav-link nav-txt-style-active">All articles</a>
{% endblock %}

{% block body %}
    <div class="d-flex w-100 align-items-center align-items-stretch">
        <div id="articleList" class="flex-row d-flex container-fluid w-75 align-items-stretch">
            <div class="d-flex container-fluid w-100">
                <ul class="list-group list-group-flush">
                    {% for art in articleArray %}
                        <div>
                            <li class="list-group-item list-item-style">
                                <a onclick="splitScreen()" target="myFrame" class="list-item-text-style" href="{{ path('showArticleDetail', { articleID: art.getId()}) }}">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="d-flex justify-content-left align-items-center">
                                            <div class="article-title-style">{{ art.getTitle() }}</div>
                                            <ul class="list-inline align-items-center tag-list-style">
                                                {% set tags = art.getTagList()|slice(0,3) %}
                                                {% for tag in tags %}
                                                    <li class="list-inline-item tag-style">
                                                        <div style="margin: 2px;">{{ tag.getTagName() }}</div>
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                        <span class="badge badge-success badge-pill">{{ art.getNumberLikes() }}</span>
                                    </div>
                                    <p style="font-size: medium">
                                        {% if art.getContent()|length > 500 %}
                                            {{ art.getContent()|slice(0,500) }}
                                            <i class="fa fa-chevron-left"></i>
                                            <i class="fa fa-ellipsis-h"></i>
                                            <i class="fa fa-chevron-right"></i>
                                        {% else %}
                                            {{ art.getContent()|slice(0,500) }}
                                        {% endif %}
                                    </p>
                                </a>
                            </li>
                        </div>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div id="iframeContainer" class="h-iframe w-50 sticky-top" hidden>
            <iframe name="myFrame" class="iframe-style" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
    {% block scrips %}
        <script src="{{ asset('JS/viewArticleDetails.js') }}" type="text/javascript"></script>
    {% endblock %}
{% endblock %}